# name -> event: push and pull -> jobs: test -> steps: checkout code, setup python, install dependencies, run tests

name: ML CI - Workflow 1 (Unit Tests)

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6.0.2

      - name: Setup Python
        uses: actions/setup-python@v6.2.0
        with:
          python-version: 3.11
          cache: "pip" 

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests
        run: |
          PYTHONPATH=$(pwd) pytest -vv
